/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "DM Sans", sans-serif;
  scroll-behavior: smooth;
  interpolate-size: allow-keywords;
}

body {
  line-height: 1.6;
  color: var(--text-color);
  overflow-x: hidden;
  position: relative;
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  background-image: var(--vertical-pattern);
  background-repeat: var(--bg-repeat-pattern);
  z-index:-1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/* General fallback */
input[type="number"] {
  appearance: textfield;
}