@import url("./variables.css");
@import url("./resubale-styles.css");
@import url("./setup.css");

.header {
  background-color: var(--white);
  background-image: var(--vertical-pattern);
  background-repeat: var(--bg-repeat-pattern);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);

  @media (min-width: 415px) {
    height: var(--header-height-sm);
  }

  @media (min-width: 834px) {
    height: 96px;
  }

  button {
    background-color: var(--primary-color);
  }
}

.hero-section {
  height: fit-content;
  text-align: center;
  margin: 0px 24px;
  padding-top: calc(var(--header-height) + 80px);
  @media (min-width: 415px) {
    padding-top: calc(var(--header-height-sm) + 100px);
  }

  .hero-content {
    margin: 0px auto;
    width: fit-content;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    p {
      max-width: 700px;
    }

    .buttons {
      margin-top: 4px;
      display: flex;
      justify-content: center;
      gap: 12px;
      @media (min-width: 415px) {
        margin-top: 12px;
      }
    }
  }
}

.dash-imgs-section {
  padding-top: 64px;
  overflow: hidden;

  figure {
    position: relative;

    .dash-img {
      width: 100%;
    }

    .dash-img-1 {
      width: 20%;
      position: absolute;
      top: -5%;
      inset-inline-start: -5%;
      z-index: 1;
    }

    .dash-img-2 {
      width: 50%;
      position: absolute;
      top: 45%;
      inset-inline-end: -80px;
      z-index: 1;

      @media (min-width: 834px) {
        width: 60%;
        inset-inline-end: -218px;
      }

      @media (min-width: 1200px) {
        width: 50%;
        inset-inline-end: -218px;
      }
    }

    .dash-img-3 {
      width: 22%;
      position: absolute;
      bottom: -5%;
      inset-inline-start: -5%;
      z-index: 1;
    }
  }
}

.stories-section {
  height: fit-content;
  padding-top: 100px;
  @media (min-width: 415px) {
    padding-top: 200px;
  }
  @media (min-width: 834px) {
    padding-top: 280px;
  }
  .headings {
    text-align: start;
    margin: 0px auto 32px auto;
    width: fit-content;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 8px;

    @media (min-width: 834px) {
      gap: 24px;
      text-align: center;
      align-items: center;
    }

    p {
      max-width: 700px;
    }
  }

  .card-contianer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;

    @media (min-width: 834px) {
      gap: 32px;
    }

    details {
      color: var(--primary-color);
      cursor: pointer;
      box-shadow: 0px 0px 50px 0px #522c021a;
      padding: 16px;
      background-color: var(--white);
      border-radius: 24px;

      @media (min-width: 834px) {
        border-radius: 32px;
        padding: 24px;
      }

      @media (min-width: 1200px) {
        padding: 32px;
        border-radius: 32px;
      }

      summary {
        list-style: none;
        border-radius: 5px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 12px;

        &::-webkit-details-marker {
          display: none;
        }

        .profile-img {
          display: inline-block;
          width: 50px;
          height: 50px;
          border-radius: 12px;
          flex-shrink: 0;
          overflow: hidden;
          position: relative;

          @media (min-width: 834px) {
            width: 80px;
            height: 80px;
            border-radius: 24px;
          }

          @media (min-width: 1200px) {
            width: 100px;
            height: 100px;
          }

          img {
            display: block;
            object-fit: cover;
            overflow: hidden;
            width: 100%;
            height: 100%;
          }
        }

        .dropdown-icon {
          width: 20px;

          @media (min-width: 834px) {
            width: 32px;
          }

          @media (min-width: 1200px) {
            width: 40px;
          }
        }
      }

      article {
        margin-top: 10px;

        & > h2:not(:first-of-type) {
          margin-top: 20px;
        }
      }

      &[open] summary .dropdown-icon {
        transform: rotate(180deg);
        transition: transform 0.5s;
      }

      .title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-size: var(--font-md);

        @media (min-width: 834px) {
          font-size: var(--font-xl);
        }

        @media (min-width: 1200px) {
          font-size: var(--font-2xl);
        }

        .verify-icon {
          width: 22px;
        }
      }

      .description {
        font-size: var(--font-xs);

        @media (min-width: 834px) {
          font-size: var(--font-md);
        }
      }
    }
  }
}

.features-section {
  padding-top: 100px;
  @media (min-width: 415px) {
    padding-top: 150px;
  }
  @media (min-width: 834px) {
    padding-top: 180px;
  }
  .headings {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    max-width: 763px;
    gap: 8px;

    @media (min-width: 834px) {
      gap: 24px;
    }
  }

  article {
    border-left: 2px solid var(--tertiary-color);
    /*fallback*/
    border-left: 2px solid hsl(from var(--tertiary-color) h s l / 50%);
    padding-inline-start: 24px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 64px;

    .card {
      display: flex;
      padding: 0px;
      justify-content: space-between;
      flex-direction: column;
      gap: 32px;

      @media (min-width: 834px) {
        flex-direction: row;
      }

      header {
        .card__headings {
          border-left: 3px solid var(--tertiary-color);
          padding-inline-start: 24px;
        }

        p {
          margin-top: 16px;
        }
      }

      img {
        width: 260px;
        height: 260px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 834px) {
          width: 400px;
          height: 400px;
        }

        @media (min-width: 1200px) {
          width: 500px;
          height: 500px;
        }

        @media (min-width: 1440px) {
          width: 572px;
          height: 572px;
        }
      }
    }
  }
}

.announcement-section {
  padding-top: 150px;
  padding-bottom: 150px;
  @media (min-width: 415px) {
    padding-top: 180px;
    padding-bottom: 180px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;

  h2:first-child {
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 4px;
  }

  p {
    max-width: 778px;
  }
}

.footer {
  background-color: var(--primary-color);
  color: var(--white);
  /* padding: 24px; */
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;

  padding-top: 30px;
  padding-bottom: 30px;

  .social-media-links {
    list-style: none;
    display: flex;
    margin-top: 20px;
    justify-content: space-around;

    li {
      margin-right: 20px;
    }
  }

  .footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-direction: column;

    @media (min-width: 415px) {
      flex-direction: row;
    }
  }

  .footer-content {
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    gap: 32px;

    h2 {
      color: var(--secondary-color);
    }

    .footer-links {
      list-style: none  ;
      gap: 10%;
      flex-shrink: 0px;
      justify-content: space-between;
      max-width: 298px;
      font-size: var(--font-base);

      @media (min-width: 415px) {
        font-size: var(--font-md);
      }

      li {
        margin: 10px auto;
      }

      a {
        color: var(--white);
        text-decoration: none;
        /* white-space: preserve nowrap; */
        display: flex;
        img {
          margin-right: 5px;
        }

        &:hover {
          color: var(--secondary-color);
          transition: color 0.5s;
        }
      }
    }

    p {
      font-size: var(--font-sm);
    }
  }

  .footer-main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: center;

    button {
      width: fit-content;
      margin-top: 10px;
    }

    p {
      margin-top: 10px;
    }
  }

  .rights {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .made-with-love {
      display: flex;

      .heart {
        margin-right: 10px;
      }
    }

    flex-direction: column;
    align-items: center;

    /* in case of large screens */
    @media (min-width: 415px) {
      flex-direction: row;
    }
  }
}
